Host iridis4a
    HostName iridis4_a.soton.ac.uk
    User sy6u19
    IdentityFile ~/.ssh/iridis.key 
Host iridis4b
    HostName iridis4_b.soton.ac.uk
    User sy6u19
    IdentityFile ~/.ssh/iridis.key 
Host iridis4c
    HostName iridis4_c.soton.ac.uk
    User sy6u19
    IdentityFile ~/.ssh/iridis.key 

Host office
    HostName uos-218080.clients.soton.ac.uk
    User sy6u19

Host school
    HostName ssh.soton.ac.uk
    User sy6u19
    IdentityFile ~/.ssh/school.key

